@import url("https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&display=swap");

body {
	background-image: url(images/background.jpg);
}

#title1 {
	font-family: "Glass Antiqua", cursive;
	color: #F8879C;
	font-size: 6vmin;
	text-align: center;
}

#title2 {
	font-family: "Ibarra Real Nova", serif;
	color: #FFD0D0;
	-webkit-text-stroke-width: 0.25vmin;
	-webkit-text-stroke-color: #F8879C;
	font-size: 8vmin;
	text-align: center;
	margin-top: -2vmin;
}

#card-number-choice {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
    margin: 0 auto;
	flex-direction: column;
	background-color: #f4f0e7;
	border-radius: 25px;
	border: solid 3px black;
	opacity: 0.8;
    width: 20vmin;
	margin-top: -5vmin
}

label {
	position: relative;
	display: flex;
	height: 3vmin;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 2vmin;
	font-family: "Glass Antiqua", cursive;
}

select {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 3vmin;
	font-family: "Glass Antiqua", cursive;
	height: 4vmin;
	width: 10vmin;
	font-size: 25px;
	background-color: black;
	color: #f4f0e7;
	border: solid 2px #f4f0e7;
}

#button-div {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: -2vmin;
	margin-bottom: 3vmin;
}

button {
	background-color: #f4f0e7;
	border: solid 5px black;
	border-radius: 50px;
	width: 10vmin;
	height: 4vmin;
	font-size: 2vmin;
	opacity: 0.7;
}

button:hover {
	opacity: 1;
	box-shadow: 0px 0.5vmin #F8879C;
}

#timer-div{
	display:none;
	position: relative;
	align-items: center;
	justify-content: center;
    margin: 0 auto;
	flex-direction: column;
	background-color: #f4f0e7;
	border-radius: 25px;
	border: solid 3px black;
	opacity: 0.8;
    width: 40vmin;
	padding: 3vmin
}

#status-message{
	color: #F8879C;
	font-size: 10vmin;
	text-align: center;
	text-transform:uppercase;
	-webkit-text-stroke-width: 0.5vmin;
	-webkit-text-stroke-color:#FFD0D0;
}

img {
	height: 15vmin;
	width: 15vmin;
}

#rose-gif{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	flex-direction: column;
	margin-top: -7vmin;
	width: 15%;
}
#gameBoard {
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(6, 20vmin);
	margin-top: -1vmin;
	pointer-events: none;
}

.flip-card {
	background-color: transparent;
	height: 20vmin;
	width: 20vmin;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
    display: inline-block;
}

/* .flip-card-inner:hover {
    transform: rotateY(180deg);
} */

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* .flip-card-inner:active {
	transform: scale(0.97);
	transition: transform 0.2s;
} */

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

.flip-card-back {
	color: white;
	transform: rotateY(180deg);
}

.flip-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gameBoardBox {
	position: relative;
	display: flex;
	height: 15vmin;
	width: 15vmin;
	padding: 1vmin;
	margin: 1vmin;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #FFD0D0;
	border-radius: 10vmin;
}

.gameBoardBox:hover {
	box-shadow: 0px 0.5vmin #F8879C;
}

.matched{
	transform: rotateY(180deg);
	pointer-events:none;
}

@media only screen and (max-width: 800px){

	#title1{
		font-size: 10vmin;
		margin-top: -2vmin;
	}

	#title2 {
		font-size: 7vmin;
		margin-top: 1%;
		margin-bottom: 5vmin;
	}

	label {
		font-size: 3vmin;
		text-align: center;
	}

	select {
		font-size: 3vmin;
		width: 15vmin;
		height: 7vmin;
	}

	button {
		width: 30vmin;
		height:16vmin;
		font-size: 6vmin;
	}

	#timer-div{
		font-size: 4vmin;
		height: 5vmin;
	}

	#gameBoard{
		display: grid;
		grid-template-columns: repeat(4, 20vmin);
		gap: 3%;
	}

	.gameBoardBox {
		height: 20vmin;
		width: 20vmin;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		margin: auto 0;
	}

}

/* 
to do: 
-mobile responsivity
-aria tags */
