@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&display=swap');

body{
    background-image: url(images/background.jpg)
}

#title1{
    font-family: 'Glass Antiqua', cursive;
    color:  #EE85A5;
    font-size: 6vmin;
    text-align: center;
}

#title2{
    font-family: 'Ibarra Real Nova', serif;
    color:#FEBED5;
    -webkit-text-stroke-width: .25vmin;
    -webkit-text-stroke-color: #EE85A5;
    font-size: 8vmin;
    text-align: center;
}

.gameBoard {
    justify-content: center;
	display: grid;
	grid-template-columns: repeat(6, 20vmin);
    margin-top: -1vmin;
}

.gameBoardBox {
    position: relative;
    display: flex;
    height: 15vmin;
    width:15vmin;
    padding: 1vmin;
    margin: 1vmin;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FEBED5;
    border-radius: 10vmin;
}

.gameBoardBox:hover{
    box-shadow: 0px .5vmin #EF7C9A;
}
